@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #E1E4FD, #6F717D)
}
main{
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
}

div#foto{
    text-align: center;
}

p{
    text-indent: 1rem;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    color: rgb(0, 0, 255);
}
